<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yjcycc.shop.goods.mapper.GoodsCartItemMapper">

	<!-- table name -->
	<sql id="tableName">
		yjcycc_goods_cart_item gci
	</sql>
	
	<sql id="joinTables">
		yjcycc_goods g
	</sql>
	
	<!-- select field -->
	<sql id="selectField">
		gci.id,
		gci.customer_id as customerId,
		gci.goods_id as goodsId,
		gci.quantity,
		gci.is_enabled as isEnabled,
		gci.insert_time as insertTime,
		gci.update_time as updateTime,
		g.name as goodsName,
		g.price as goodsPrice,
		g.is_pre_sale as isPreSale,
		(g.stock - g.real_sales) as remainingStock
	</sql>
	
	<!-- add field -->
	<sql id="addField">
		gci.id,
		gci.customer_id,
		gci.goods_id,
		gci.quantity,
		gci.is_enabled,
		gci.insert_time,
		gci.update_time
	</sql>
	
	<!-- field values -->
	<sql id="FieldValue">
		#{id},
		#{customerId},
		#{goodsId},
		#{quantity},
		#{isEnabled},
		#{insertTime},
		#{updateTime}
	</sql>
	
	<!-- save -->
	<insert id="save" parameterType="goods">
		insert into 
			<include refid="tableName"></include>
		(
			<include refid="addField"></include>
		) 
		values (
			<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- findById -->
	<select id="findById" resultType="goodsCartItemDTO" parameterType="long">
		select 
			<include refid="selectField"></include>
		from 
			<include refid="tableName"></include>
		left join <include refid="joinTables"></include> on
			gci.goods_id = g.id
		where 
			gci.id = #{cartItemId}
	</select>
	
	<!-- findPager -->
	<select id="findPager" resultType="goodsCartItemDTO" parameterType="map">
		select 
			<include refid="selectField"></include>
		from 
			<include refid="tableName"></include>
		left join <include refid="joinTables"></include> on
			gci.goods_id = g.id
        where 1 = 1
        	<if test="cartItemId != null and cartItemId != ''">
        		and gci.id = #{cartItemId}
        	</if>
		order by gci.insert_time desc
	</select>
	
	<delete id="delete" parameterType="String">
		delete
		from
			<include refid="tableName"></include>
		where
			gci.id in (${cartItemIds})
	</delete>
	
	<update id="updateQuantity">
		update <include refid="tableName"></include>
		set
			quantity = #{quantity}
		where
			id = #{cartItemId}
	</update>

</mapper>