<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://code.alibabatech.com/schema/dubbo  
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd"
        >
    
    <context:property-placeholder location="classpath*:dubbo.properties"/>
    
    <dubbo:application name="yjcycc" owner="yjcycc" />

    <dubbo:protocol name="dubbo" port="20880" />

	<dubbo:registry protocol="zookeeper" address="127.0.0.1:2181" />
    <!-- <dubbo:registry address="zookeeper://127.0.0.1:2181" /> -->

	<dubbo:annotation package="org.yjcycc.shop.member" />
    
    <!-- <import resource="redis-context.xml"/> -->
    
    <dubbo:service ref="userCustomService" interface="org.yjcycc.shop.member.api.UserCustomService"/>


</beans>